body {    
    background-image: url(../images/backgroundImage.png);
	height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;    
	object-fit: fill;
    margin: 0;	
}

/* .video-container{
	position: fixed;
	right: 0;
	bottom: 0;
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;	
	z-index: -1;
}

video {
    position: absolute;
    top: 0;
    left: 0;    
	width: 100%; 
    height: 100%;
	object-fit: fill
} */

.container-main{	
	display: flex;
	justify-content: space-evenly;
}

@media (max-width: 1500px) {
	
	.container-main {		
	  display: block;
	  height: auto;
	}
  }

legend {
	width: 49%;
	float: none;
    font-size: x-large;    
}

.radio-options{
	display: flex;
	flex-direction:row;
	justify-content: space-between;
    padding-bottom: 25px;	
}

.navbar-container {
	padding-left: 10px;
}


.my-field {
	position: relative;    
    margin: 75px auto;
    padding-top: 100px;
    width: 750px;
    padding: 1em;
    border: 5px solid #ccc;
    border-radius: 1em;
    font-weight: bold;
  }

  .submit {
	box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:3px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.submit:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.submit:active {
	position:relative;
	top:1px;
}


.copyButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:3px;
	border:1px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:13px;
	padding:6px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.copyButton:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.copyButton:active {
	position:relative;
	top:1px;
}



.reset {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
	
	
	
}
.reset:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}

.reset:active {
	position:relative;
	top:1px;
}

.buttons{
	display: flex;	
	justify-content: space-between;
}


.verification-legend{
	float: none;
	font-size: x-large;
	width: 34%;
}

.checkbox-options{
	display: flex;
	flex-direction:row;
	justify-content: space-between;
    padding-bottom: 25px;
}

.verificationDate {
	display: flex;
	gap: 20px;
}

#initals{
	width: 65px;
}


#template1{
	display: none;
	gap: 15px;
	grid-template-columns: repeat(3, minmax(0, 1fr));		
	padding: 10px;
	grid-auto-flow: row;

}


#template2{
	display: none;
	gap: 15px;
	grid-template-columns: repeat(3, minmax(0, 1fr));		
	padding: 10px;
	grid-auto-flow: row;
	
}


#template3{
	display: none;
	gap: 15px;
	grid-template-columns: repeat(3, minmax(0, 1fr));		
	padding: 10px;
	grid-auto-flow: row;
	
}



#template4{
	display: none;
	gap: 15px;
	grid-template-columns: repeat(3, minmax(0, 1fr));		
	padding: 10px;
	grid-auto-flow: row;
}

#template4 input{
	width: 200px;
}
#primarycareCommerical{
	width: 200px;	
}


.invalid {
	border: 2px solid red;
  }


  /* ------------------ Tooltip style ---------------- */

.tooltip-icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  color: white;
  cursor: pointer;
}
  
  .tooltip-text {
	display: none;
	position: absolute;
	top: calc(100% + 5px);
	left: 0;
	color: #ffffff;
	background-color: #040404;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .tooltip-icon:hover + .tooltip-text {
	display: block;
	width: 300px;
	z-index: 1;
  }
  

  .contractedIns {
	position: relative;
  }

  .sickAmount{
	position: relative;
  }

  .hsra{
	position: relative;
  }

  .telemedicine {
	position: relative;
  }

  .wellVisit {
	position: relative;
  }

  .surgery {
	position: relative;
  }

  .laboratories{
	position: relative;
  }

  .cptCodes{
	position: relative;
  }

  .corona{
	position: relative;
  }

  .nombre{
	position: relative;
  }

  .referenceNumber{
	position: relative;
  }

  .startDate{
	position: relative;
  }

  .typeOfPlan{
	position: relative;
  }

  .productName{
	position: relative;
  }

  .primaryCare{
	position: relative;
  }

  .coordination{
	position: relative;
  }

  .holderDependent{
	position: relative;
  }

  .groupNumber{
	position: relative;
  }

  .outOfPocket{
	position: relative;
  }

  .outOfPocketMet{
	position: relative;
  }

  .deductibleAmount{
	position: relative;
  }

  .claimAddress{
	position: relative;;
  }